<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- stylesheet_link_tag('app') %>
        <%- javascript_include_tag('vendor', 'app') %>
        <%- csrf_meta_tag() %>
    </head>
    <body>
        <%- body %>
    </body>
</html>
